# Node modules
node_modules/
**/node_modules/

# Environment variables
.env
.env.prod
.env.*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
**/build/

# Docker
docker-compose.override.yml
*.dockerfile
*.pid
*.sock

# IDE / Editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# React Native / Expo
.expo/
.expo-shared/
*.expo
web-build/
.env
