services:
  db:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: backend_app
    working_dir: /usr/src/app
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5001:5001"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: ${POSTGRES_USER}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB}
      DB_PORT: 5432

  frontend-web:
    build: ./frontend-web
    container_name: frontend_web
    ports:
      - "3000:80"
    depends_on:
      - backend

  frontend-mobile:
    build: ./frontend-mobile
    container_name: frontend_mobile
    ports:
      - "19006:80"
    depends_on:
      - backend
