services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - innovacioncomercialx_postgres_data:/var/lib/postgresql/data
    networks:
      - innovacioncomercialx-net

  backend:
    build: ./backend
    ports:
      - "5001:5001"
    environment:
      - PORT=5001
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db
    networks:
      - innovacioncomercialx-net

  frontend-web:
    build:
      context: .
      dockerfile: Dockerfile.frontend-web
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - innovacioncomercialx-net

  frontend-mobile:
    build: ./frontend-mobile
    ports:
      - "19006:19006"
    depends_on:
      - backend
    networks:
      - innovacioncomercialx-net

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - innovacioncomercialx-net

volumes:
  innovacioncomercialx_postgres_data:

networks:
  innovacioncomercialx-net:
